/*** breakpoints ***/

@desktop: ~"screen and (min-width: 768px)";

/*** less variables ***/



/*** global ***/


/*** content ***/

 body { /*font-size: 14px; line-height: 1.6em; */ }

    .masthead {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        width: 250px;
        background-attachment: fixed;
        height: auto;

        /*.masthead-inner {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 15;
        padding: 30px;
        }*/

    }

    .content {
        padding-right: 0;
        padding-left: 0;
        margin-right: 30px;
        margin-left: 280px;


        .navbar { margin: 1em 0; }
        
    }
    
    
    /* stuck */
    
    .stuck { position: fixed; top:0; right: 10%; left: 30%; z-index: 999; margin: 0 !important; }