/*** breakpoints ***/

@tablet: ~"screen and (min-width: 768px)";

/*** less variables ***/

@primary: #2c3e50; /* dark navy */
@secondary: #34495e; /* lighter navy */
@sidebar: #ecf0f1; /* gray */

/*** global ***/
html, body { height: 100%; }



/* Start Mobile-first Styles */

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

.header {
    color: #222;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);*/
    background: @sidebar;


    .header-inner { 
        .tool-app { margin: 0; padding: 0 15px; line-height: 30px; }
        
        
        .tool-header {
            
            padding: 0 15px; line-height: 60px; 
            
            .tool-name { margin:0; line-height: 60px; text-transform: uppercase; font-size: 2.5em; color: @primary; font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: bold; }
            .tool-support { color: darken(@sidebar, 30%); font-weight: 300; }
            .tool-menu a { color: darken(@sidebar, 30%); }
        }
        .tool-list { background: @sidebar;
            
            -moz-transition: .5s;
            -ms-transition: .5s;
            -o-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s;
    
            .tool-list-inner { padding: 15px; 
                
                /** tool menu list **/
                ul { margin-bottom: 1.5em; padding-left: 0; list-style: none; text-transform: uppercase; font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: 200; font-size: 1.4em; letter-spacing: 1px; 
                    
                    li { line-height: 35px; 
                        
                        a { }
                    }
                }
    
            }
        }     
        
    }
    
}

.content { 
    .container { padding: 0 15px; }
}



.footer { padding: 0 15px; color: @secondary; font-size: .85em; color: darken(@sidebar, 30%); }

.stuck { position: fixed; top: 0; left: 0; right: 0; z-index: 999; }

/** headers **/

h2 { margin:0 0 1.5em; line-height:60px; text-transform: uppercase; color: @secondary; font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: 300; font-size: 2em; letter-spacing: 1px; border-bottom: solid 2px darken(@sidebar, 5%); }

h3 { line-height:40px; text-transform: uppercase; color: lighten(@secondary, 10%); font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: 300; font-size: 1.75em; letter-spacing: 1px; }

h5 { text-transform: uppercase; color: darken(@sidebar, 30%); font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: 400; font-size: 1.15em; letter-spacing: 1px; border-bottom: solid 2px darken(@sidebar, 5%); padding-bottom: 8px; }


/*** developer ***/

#developer { position: absolute; bottom:10px; right: 10px; text-transform: uppercase; }

/*** show/hide animation **********/
.hide-div {
    overflow: hidden;
    max-height: 0;
}
.show-div {
    max-height: 1000px;
    overflow: hidden;
}

/*** userservice overrides ***/

.user-service {
max-width: 330px;
padding: 15px;
margin: 0 auto;
background: lighten(@sidebar, 3%);
border-radius:4px;
}
.user-service .user-service-heading {
margin-bottom: 10px;
}
.user-service .user-service-sub-heading {
margin-top: 1em;
margin-bottom: .5em;
color: #888;
}

.user-service .user-service-override-user { font-weight: bold; }

.user-service .checkbox {
font-weight: normal;
}

.user-service .form-control {
position: relative;
height: auto;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.user-service .form-control:focus {
z-index: 2;
}
.user-service input[type="text"] {
margin-bottom: -1px;

}
.user-service input[type="password"] {
margin-bottom: 10px;
}

.user-service button[type="submit"] {
    margin-top: 5px;
}

/*** restclients overrides ***/

.restclients-proxy { background: #e5e5e5; margin-bottom: 2em;border-radius: 4px;padding: 5px;}
.restclients-header { line-height: 30px; margin-bottom:5px;  }
.restclients-header span.label {  }
.restclients-header-title { padding-left:20px; font-weight:bold; }
.restclients-header-url { }
.restclients-header-url span.glyphicon { font-size: 1.4em; padding: 0 5px; vertical-align: middle; color: #999; }
.restclients-header-url input { display:inline-block; width: 95%; }
.restclients-response-content {
    background: #fff; 
    padding: 1em; 
    margin: 0 -5px;
    min-height: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.restclients-response-content label { font-weight: normal; }
.restclients-response-content input[type="submit"] { margin: 1em 0; }
.restclients-response-content ul, .restclients-response-content ol { padding-left: 20px; margin-top: 1em; }
.restclients-footer { font-size:.85em; }
