/*** breakpoints ***/
/*** less variables ***/
/* dark navy */
/* lighter navy */
/* gray */
/*** global ***/
html,
body {
  height: 100%;
}
/* Start Mobile-first Styles */
body {
  background: #fff;
}
.header {
  color: #222;
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);*/
  background: #ecf0f1;
  margin-bottom: 15px;
}
.header .header-inner {
  padding: 0 15px;
}
.header .header-inner .tool-app {
  margin: 0;
  line-height: 30px;
}
.header .header-inner .tool-header {
  line-height: 60px;
  /* supporttools header/logo */
}
.header .header-inner .tool-header h1.tool-name {
  margin: 0;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 2.5em;
  color: #2c3e50;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 800;
}
.header .header-inner .tool-header h1.tool-name a {
  color: #2c3e50;
  text-decoration: underline;
}
.header .header-inner .tool-header .tool-support {
  color: #94aab0;
  font-weight: 200;
}
.header .header-inner .tool-header .tool-menu a {
  color: #94aab0;
  background: #dde4e6;
  border-radius: 3px;
  padding: 5px 8px;
}
.header .header-inner .tool-list {
  background: #ecf0f1;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .header-inner .tool-list .tool-list-inner {
  margin: 2em 0;
  /** tool menu list **/
}
.header .header-inner .tool-list .tool-list-inner h3 {
  text-transform: uppercase;
  color: #080a0a;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  font-size: 1.15em;
  letter-spacing: 1px;
  border-bottom: solid 2px #dde4e6;
  padding-bottom: 8px;
  margin: 0;
}
.header .header-inner .tool-list .tool-list-inner ul {
  margin-bottom: 1.5em;
  padding-left: 0;
  list-style: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  letter-spacing: 1px;
}
.header .header-inner .tool-list .tool-list-inner ul li {
  line-height: 35px;
}
.header .header-inner .tool-list .tool-list-inner ul li a {
  color: #003399;
}
.header .header-inner .tool-list .tool-list-inner h4 {
  color: #080a0a;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.15em;
  padding-bottom: 8px;
  margin: 0;
}
.content .content-inner {
  padding: 0 15px;
  /* page header */
  /* page sub header */
  /* search results table */
  /* reset bootstrap container class */
}
.content .content-inner h2 {
  margin: 0;
  line-height: 60px;
  text-transform: uppercase;
  color: #46627f;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-size: 2.15em;
  letter-spacing: 1px;
  /*border-bottom: solid 2px darken(@sidebar, 5%);*/
}
.content .content-inner h3 {
  line-height: 40px;
  text-transform: uppercase;
  color: #46627f;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-size: 1.75em;
  letter-spacing: 1px;
}
.content .content-inner .table th {
  text-transform: uppercase;
  color: #94aab0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1px;
}
.content .content-inner .table td {
  vertical-align: middle;
}
.content .content-inner .container {
  max-width: none;
  margin: 0;
  padding: 0;
}
.footer {
  padding: 0 15px;
  margin: 2em 0 10px 0;
  display: block;
  height: 50px;
}
.footer .footer-tagline {
  color: #34495e;
  font-size: 0.75em;
  color: #94aab0;
}
/*** bootstrap overrides **/
.well {
  box-shadow: none;
  border: none;
  background: #ecf0f1;
}
.form-group .form-control {
  display: inline-block;
  width: 82%;
}
/*** developer ***/
#developer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-transform: uppercase;
}
/*** show/hide animation **********/
.hide-div {
  overflow: hidden;
  max-height: 0;
}
.show-div {
  max-height: 1000px;
  overflow: hidden;
}
/*** userservice overrides ***/
.user-service {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background: #f5f7f7;
  border-radius: 4px;
}
.user-service .user-service-heading {
  margin-bottom: 10px;
}
.user-service .user-service-sub-heading {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #888;
}
.user-service .user-service-override-user {
  font-weight: bold;
}
.user-service .checkbox {
  font-weight: normal;
}
.user-service .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.user-service .form-control:focus {
  z-index: 2;
}
.user-service input[type="text"] {
  margin-bottom: -1px;
}
.user-service input[type="password"] {
  margin-bottom: 10px;
}
.user-service button[type="submit"] {
  margin-top: 5px;
  text-transform: capitalize;
}
/*** restclients overrides ***/
.restclients-proxy {
  background: #e5e5e5;
  margin-bottom: 2em;
  border-radius: 4px;
  padding: 5px;
}
.restclients-header {
  line-height: 30px;
  margin-bottom: 5px;
}
.restclients-header-title {
  padding-left: 20px;
  font-weight: bold;
}
.restclients-header-url span.glyphicon {
  font-size: 1.4em;
  padding: 0 5px;
  vertical-align: middle;
  color: #999;
}
.restclients-header-url input {
  display: inline-block;
  width: 95%;
}
.restclients-response-content {
  background: #fff;
  padding: 1em;
  margin: 0 -5px;
  min-height: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.restclients-response-content label {
  font-weight: normal;
  color: #000;
}
.restclients-response-content input[type="submit"] {
  margin: 1em 0;
}
.restclients-response-content ul,
.restclients-response-content ol {
  padding-left: 20px;
  margin-top: 1em;
  color: #000;
}
.restclients-footer {
  font-size: 0.85em;
}
.restclients-digested-response ul {
  margin-top: 0;
  margin-left: 1.5em;
  list-style: none;
}
.restclients-digested-response ul .json-key {
  font-size: 1.2em;
  color: #2c3e50;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
}
.restclients-digested-response ul .json-value {
  padding-left: 12px;
  word-wrap: break-word;
}
.tab-pane {
  margin-top: 8px;
}
.nav-tabs li a {
  font-size: 1.2em;
  color: #2c3e50;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
}
.label {
  font-size: 100%;
  color: #000;
}
/* override Bootstrap label style */
.label-default {
  background-color: #ccc;
}
/* override Bootstrap label color to light grey */
