<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="cleartype" content="on">
        
        <!-- favicon and mobile device icons-->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}supporttools/ico/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}supporttools/ico/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}supporttools/ico/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ STATIC_URL }}supporttools/ico/apple-touch-icon-57x57-precomposed.png"> 
        <link rel="shortcut icon" href="{{ STATIC_URL }}supporttools/ico/favicon.ico" />
        
        <!-- windows8 - tile icon  & color -->
        <meta name="msapplication-TileImage" content="{{ STATIC_URL }}supporttools/ico/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">
        
        <!-- ios webapps - delete if not needed -->
        <!--
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        -->
        
        <!-- normalize/bootstrap -depending on what you want to start with -->
        <!--<link rel="stylesheet" href="{{ STATIC_URL }}supporttools/css/vendor/normalize-2.1.3.css">-->
        <link rel="stylesheet" href="{{ STATIC_URL }}supporttools/css/vendor/bootstrap-3.0.0.min.css">
       
        {% load compress %}

        <!-- mobile first styles -->
        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}supporttools/css/vendor/bootstrap-3.0.0.min.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}supporttools/css/mobile.less" type="text/less">
        {% endcompress %}

        {% if not request.is_mobile and not request.is_tablet %}
        <!-- add desktop styles -->
        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}supporttools/css/desktop.less" type="text/less">
        {% endcompress %}
        {% endif %}
        
        <script src="{{ STATIC_URL }}supporttools/js/vendor/modernizr-2.6.2.min.js"></script>
        
    </head>
    <body>
        
        <!-- wrap all content here -->
        <div id="wrap">
        
            <!-- begin page content -->
            <div class="container">
                
                <div class="page-header">
                   <h1>ACA SUPPORT TOOLS</h1>
                </div>
                
                <ul>
                    <li><a href="/support">home</a></li>
                    <li><a href="/support/restclients/view/sws/student/v4/">sws</a></li>
                    <li><a href="/support/restclients/view/pws/student/v4/">pws</a></li>
                </ul>
                
                <!-- add your site or application content here -->
                <div id="content">
                    {% block content %}{% endblock %}
                </div>            
                
            </div>
        
        
        </div><!-- /wrap -->

        <!-- footer -->
        <div role="complimentary" id="footer">
            <div class="container">
                <!-- example of is_desktop usage in templates -->
                {% if request.is_mobile %}
                <p class="credit">&copy; 1998-2014, UW-IT, ACA&nbsp;&nbsp;&nbsp;<a href="http://www.washington.edu/online/privacy" title="UW Privacy Policy">Privacy</a> | <a href="http://www.washington.edu/online/terms" title="UW Terms of Service">Terms</a></p>
                {% else %}
                <p class="credit">&copy; 1998-2014, UW Information Technology, Academic &amp; Collaborative Applications&nbsp;&nbsp;&nbsp;<a href="http://www.washington.edu/online/privacy" title="UW Privacy Policy">Privacy</a> | <a href="http://www.washington.edu/online/terms" title="UW Terms of Service">Terms</a></p>
                {% endif %}
            </div>
        </div>

        
        <!-- dev bar -->
        <div id="developer">
            <span class="label label-danger">{% if request.is_mobile %}mobile{% elif request.is_tablet %}tablet{% else %}desktop{% endif %}</span>
        </div>
        
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}supporttools/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
                
        <!-- javascript -->
        {% compress js %}
            <script src="{{ STATIC_URL }}supporttools/js/vendor/bootstrap-3.0.0.min.js"></script>
            <script src="{{ STATIC_URL }}supporttools/js/vendor/handlebars-1.0.0.min.js"></script>
            
            <script src="{{ STATIC_URL }}supporttools/js/main.js"></script>
            {% block extra_js %}{% endblock %}
        {% endcompress %}
        
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        -->
        
    </body>
</html>
