{% extends 'supporttools/base.html' %}

{% block content %}

<h1>REST Browser</h1>

    <div class="restclients-proxy">
        
        <div class="row restclients-header">
            <div class="col-md-8 restclients-header-url" style=""><span class="glyphicon glyphicon-stats"></span><input type="input" class="form-control input-sm" id="inputEmail3" value="{{ url }}" disabled></div>
            <div class="col-md-2" style="text-align:center; width:auto;">
                <span class="label" style="color:#999;">TIME</span> <span class="label label-default">{{ time_taken }}</span>
            </div>
            <div class="col-md-2" style="text-align:center; width:auto;">
                <span class="label" style="color:#999;">STATUS</span> <span class="label label-default">{{ response_code }}</span>
            </div>
        </div>
        
        <div class="restclients-response-content">
            {{ content|safe }}
        </div>
        
        <div class="restclients-footer">
        <b>Headers:</b><br/>
        {% for key, val in headers.items %}
            <b>{{ key }}</b>: {{ val }}<br/>
        {% endfor %}
        </div>
        
    </div>

{% endblock %}