{% extends 'supporttools/base.html' %}

{% block content %}

<h1>User Service</h1>

    <div class="us-form">
    
        <h2 class="us-heading">Hello, <span class="us-original-user">{{ original_user }}</span></h2>
        
        
        <form action="{% url 'userservice.views.support' %}" method="POST" class="us-overriding">
            {% csrf_token %}
            
            <h4 class="user-service-sub-heading">You are overriding as: <span class="text-danger">{{ override_user }}</span></h4>
            
            <div style="padding:1em;"> 
                <input type="hidden" name="clear_override" value="1"/>
                <button class="btn btn-link btn-danger" type="submit" value="Clear override" style="margin-bottom:0;">Clear Override</button>
            </div>
        </form>
        
        
        <form action="{% url 'userservice.views.support' %}" method="POST" class="us-override-as" style="margin-top:2em;">
            {% csrf_token %}
            <h4 class="user-service-sub-heading">Override as: </h4>
            
            <div style="padding:1em;"> 
                {% if override_error_msg %}
                <p class="text-danger us-error-msg">{{ override_error_msg }}{{ override_error_username }}</p>
                {% endif %}   
                <input type="text" name="override_as" class="form-control" placeholder="Netid">
                <button class="btn btn-block btn-primary" type="submit" style="margin-bottom:0;">Submit</button>
            </div>
                 
        </form>
    
    </div>



{% endblock %}